*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', serif;
}

// navbar =================================

.nav{
    position: fixed;
    width: 100%;
    padding: 8px;
    background: #070707;
    ul{
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        a{
            transition: .3s;
            text-decoration: none;
            font-weight: 300;
            font-size: 18px;
            letter-spacing: 3px;
            color: #fff;
        }
    }
}

.nav{
    a:hover{
        color: #ff1cb0;
    }
}
// =========================================
// header ==================================

.header{
    height: 100%;
    color: #070707;
    font-weight: 400;
    background-color: #070707;
}

.header h1{
    margin: 0;
    padding: 0;
}

// header anim =============================
.animOne{
    padding-top: 150px;
    margin-bottom: -50px;
    display: flex;
    h1{
        font-weight: 300;
        font-size: 70px;
        animation: slideOne 4s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
    }
}

.animTwo{
    display: flex;
    justify-content: end;
    h1{
        font-weight: 300;
        animation: slideTwo 6s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
    }
    span{
        font-family: 'Qwigley', cursive;
        font-size: 200px;
        font-weight: 300;
    }
    .exclam{
        color: #070707;
        cursor: pointer;
        transition: .5s;
    }
}

.exclam:hover{
    color: #ff1cb0;
}

.exclam::after{
    content: ':hover';
    font-size: 30px;
    letter-spacing: 2px;
    color: #fff;
}

.animThree{
    margin-top: -90px;
    letter-spacing: 5px;
    padding-bottom: 200px;
    display: flex;
    p{
        font-weight: 200;
        font-size: 25px;
        animation: slideThree 7s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
    }
}
// media screen ===========================
@media screen and (max-width: 1000px){
    .animOne{
        h1{
            font-size: 50px;
            margin-bottom: 15px;
        }
    }
    .animTwo{
        span{
            font-size: 150px;
        }
    }
    .animThree{
        margin-top: -60px;
        p{
            font-size: 15px;
        }
    }
}

@media screen and (max-width: 670px){
    .animOne{
        h1{
            font-size: 40px;
            margin-bottom: 25px;
        }
    }
    .animTwo{
        margin-top: 15px;
        span{
            font-size: 90px;
        }
        .exclam{
            display: none;
        }
    }
    .animThree{
        margin-top: -30px;
        p{
            font-size: 13px;
        }
    }
}

@media screen and (max-width: 500px){
    .animOne{
        h1{
            font-size: 40px;
            margin-bottom: 25px;
        }
    }
    .animTwo{
        margin-left: 150px;
        h1{
            font-size: 30px;
        }
        span{
            font-size: 100px;
        }
    }
    .animThree{
        display: none;
    }
}

// =======================================

// =======================================
// Animation for header ==================

@keyframes slideOne {
    from {
        margin-left: 0;
        color: #070707;
      }
    
      to {
        margin-left: 40%;
        color: #fff;
      }
}

@keyframes slideTwo {
    from {
        margin-right: 0;
        color: #070707;
      }
    
      to {
        margin-right: 40%;
        color: #fff;
      }
}

@keyframes slideThree {
    from{
        margin-left: 0;
        color: #070707;
    }
    to{
        margin-left: 40%;
        color: #fff;
    }
}
// ======================================
// section present ======================

.present{
    height: 100%;
    background: linear-gradient(#070707,#131313);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: #fff;
}

.img{
    padding: 25px;
    animation: slideImg 5s;
    animation-fill-mode: forwards;
    margin-bottom: 200px;
}

.presentation{
    padding: 25px;
    font-weight: 250;
    width: 50%;
    margin-bottom: 200px;
    h4{
        font-weight: 400;
        letter-spacing: 3px;
        text-align: center;
        font-size: 25px;
        margin-bottom: 25px;
    }
    p{
        text-align: right;
    }
}

.presentation p::before{
    content: '<p>';
    font-family: 'Qwigley', cursive;
    color: #ff1cb0;
    font-size: 25px;
    margin-right: 20px;
}
.presentation p::after{
    content: '</p>';
    font-family: 'Qwigley', cursive;
    font-size: 25px;
    margin-left: 20px;
    color: #ff1cb0;
}

// anim for present section ===============
@keyframes slideImg {
    from{
        margin-left: -20%;
        opacity: 0;
    }
    to{
        margin-left: 0%;
        opacity: 1;
    }
}
//=========================================
//=========================================
// social =================================

.social{
    background: linear-gradient(#131313, #000);
    ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        li{
            list-style-type: none;
        }
        a{
            text-decoration: none;
            color: #fff;
            transition: .3s;
            i{
                transition: .3s;
                font-size: 50px;
                margin-bottom: 150px;
            }
        }
    }
}

.fa-instagram{
    margin: 0 100px 0 100px;
}

.fa-instagram:hover{
    background: linear-gradient(#2E58F4, #A431B6, #F4245F, #FD803E, #FFDE89);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-github:hover{
    border: solid 1px;
    border-color: #ff1cb0;
    border-radius: 25%;
    padding: 10px;
}

.fa-digital-ocean:hover{
    border: solid 1px;
    border-color: #ff1cb0;
    border-radius: 25%;
    padding: 10px;
}
// section simplon ====================

.simplon{
    background: #000;
    color: #fff;
    display: flex;
    justify-content: space-around;
    font-weight: 300;
}

.intro{
    width: 60%;
    h2{
        font-weight: 400;
        letter-spacing: 3px;
        padding-bottom: 25px;
    }
    p{
        line-height: 25px;
    }
}

.resume{
    h2{
        text-align: center;
        font-weight: 400;
        letter-spacing: 3px;
        padding-bottom: 25px; 
    }
    li{
        font-weight: 400;
        list-style-type: none;
        text-align: center;
        padding-bottom: 50px;
    }
}

.resume{
    li::before{
        content: "<li>";
        font-family: 'Qwigley', cursive;
        color: #ff1cb0;
        font-size: 25px;
        margin-right: 15px;
    }
    li::after{
        content: "</li>";
        font-family: 'Qwigley', cursive;
        color: #ff1cb0;
        font-size: 25px;
        margin-left: 15px;
    }
}

// footer ===================================

.footer{
    height: 100%;
    background: #000;
    display: flex;
    justify-content: center;
    .contact{
        padding: 70px 0 70px 0;
        a{
            transition: .5s;
            font-size: 20px;
            letter-spacing: 7px;
            text-decoration: none;
            color: #fff;
        }
    }
}

.contact{
    a::before{
        content: "=>";
        font-family: 'Qwigley', cursive;
        color: #ff1cb0;
        font-size: 50px;
        font-weight: 500;
    }
    a::after{
        content: "<=";
        font-family: 'Qwigley', cursive;
        color: #ff1cb0;
        font-size: 50px;
        font-weight: 500;
    }
}

.contact{
    a:hover{
        color: #ff1cb0;
    }
}